<!-- Content -->
<main class="container row offset-md-2 col-md-10">
    <!-- Components > Nav > The tabs plugs with vertical pills -->
    <h1 class="col-12 pb-2 pt-3">Career</h1>

    <div class="text-justify col-11">
        <h5>Are you a friendly, outgoing person who wants to join our company?</h5>
        <hr>
        <p>
            Even with limited or no prior experience, you could be a courier for our franchise. Perfect for dedicated,
            customer-focused people, our franchise operates within an exclusive territory all around new zealand, that
            might require your help. Your responsibility includes collecting and delivering parcels in your area . You
            won't be delivering by yourself , we will deploy our senior to teach you our way of delivering package.

        </p>
        <Div class="table-responsive">
            <h3>Contact each person here for your respective area:</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Area</th>
                        <th>Contact Number</th>
                        <th>Email</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Eben</td>
                        <td>Binsar</td>
                        <td>Auckland</td>
                        <td>+64276128</td>
                        <td>ebenbinsar@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Carl</td>
                        <td>Li</td>
                        <td>Dunedin</td>
                        <td>+642769109</td>
                        <td>leekunhui123@hotmail.com</td>
                        
                    </tr>
                    <tr>
                        <td>William</td>
                        <td>Edwin</td>
                        <td>Wellington</td>
                        <td>+64276245011</td>
                        <td>ultimateform@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </Div>
    </div>
</main>
<!-- Content End -->