<!-- Content -->
<main class="container-fluid">
    <!--start from here-->
    <div class="container">
        <div class="ml-3">
            <h2>Clearing Custom</h2>
            <hr />
            <div class="lead">
                Shipping internationally requires your shipment to be inspected by Custom when entering
                the border of the country.
                It might cause you some delay or in the worst case your items might be returned to you.
                Generally there are three steps to clear the custom.
            </div>
        </div>
        <div class="card-group mt-5">
            <div class="card pb-5">
                <img class="container card-img-top col-10 col-md-12 col-lg-8 pt-2" src="./img/ProhibitedGoods.png"
                    style="max-height: 170px;" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-header">1. Learn about Prohibited goods</h5>
                    <p class="card-text text-left">
                        <a class="text-dark" href="/prohibited.php"> Learn about what you can't ship or
                            what items are restricted in other country before sending your package.</a></p>

                </div>
            </div>

            <div class="card pb-5">
                <img class="card-img-top container col-10 col-md-9 col-lg-6 pt-5" src="./img/Document.png" style="max-height: 170px; max-width: 160px;"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-header">2. Fill your Commercial invoice</h5>
                    <p class="card-text text-left">
                        <a class="
                                        text-dark" href="invoice.html">fill your
                            document and all necessary information
                            that will describe or explain the purpose of your goods.</a>
                    </p>

                </div>
            </div>
            <div class="card pb-5">
                <img class="card-img-top container col-10 col-md-9 col-lg-6 pt-5" src="./img/TAX.png" style="max-height: 170px;max-width: 160px;"
                    alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-header">3. Pay your taxes / duties</h5>
                    <p class="card-text text-left">
                        Pay your taxes in advance . It's necessary for consumer to be aware on how much
                        you have to pay when transferring your goods.
                    </p>

                </div>
            </div>


        </div>
    </div>

    <!--endhere-->


</main>
<!-- Content End -->