<!-- Content -->
<main class="container-fluid">
    <!-- Components > Nav > The tabs plugs with vertical pills -->
    <div class="d-none d-md-block m-5"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-customer-tab" data-toggle="pill" href="#v-pills-customer" role="tab"
                    aria-controls="v-pills-customer" aria-selected="true">Customer Support</a>
                <a class="nav-link" id="v-pills-office-tab" data-toggle="pill" href="#v-pills-office" role="tab"
                    aria-controls="v-pills-office" aria-selected="false">Office & Facility</a>
                <a class="nav-link" id="v-pills-courier-tab" data-toggle="pill" href="#v-pills-courier" role="tab"
                    aria-controls="v-pills-courier" aria-selected="false">Courier Location</a>
                <a class="nav-link" id="v-pills-service-tab" data-toggle="pill" href="#v-pills-service" role="tab"
                    aria-controls="v-pills-service" aria-selected="false">Service</a>
            </div>
        </div>
        <div class="container col-md-9 m-0">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-customer" role="tabpanel" aria-labelledby="v-pills-customer-tab">
                    <!--start from here-->
                    <div class="container">
                        <h2>Extra Service</h2>
                        <hr />
                        <div class="container row">
                            <div class="col-md-4 mt-3 pb-sm-2 pb-md-0 "><img class="col-12 " src="./img/DoortoDoorservice.png"
                                    alt="doortodoor"></div>
                            <div class="card col-md-8 mt-3">
                                <legend>Door-To-Door Service</legend>
                                <hr />
                                <div class="card-body"> Supermail provides a door to door service if you feel the need
                                    of the package to be received in person. it will nullify the chance of the package
                                    getting lost or broken if we just leave the package in front of your doorstep</div>
                            </div>
                            <div class="col-md-4 mt-5 pb-sm-2 pb-md-0 "><img class="col-12 " src="./img/Repacking.png"
                                    alt="Repacking"></div>
                            <div class="card col-md-8 mt-5">
                                <legend>Repacking</legend>
                                <hr />
                                <div class="card-body"> Do you need us to help you to pack your items? do not worry .
                                    We do have service for that.</div>
                            </div>
                            <div class="col-md-4 mt-5 pb-sm-2 pb-md-0 "><img class="col-12 " src="./img/Safe.png"
                                    alt="Extra Security"></div>
                            <div class="card col-md-8 mt-5">
                                <legend>Extra Security</legend>
                                <hr />
                                <div class="card-body">For Things that need extra security like Hazardrous goods and
                                    Fragile items . We will provide a service to make sure the items are handled as
                                    securely as possible</div>
                            </div>
                            <div class="col-md-4 mt-5 pb-sm-2 pb-md-0 "><img class="col-12 " src="./img/Time.png"
                                    alt="Arrange time"></div>
                            <div class="card col-md-8 mt-5">
                                <legend>Arrange Time</legend>
                                <hr />
                                <div class="card-body">Do you have a requirement for when the recepient would receive
                                    their items? Just tell us and we will arrange it for you </div>
                            </div>

                        </div>
                    </div>
                    <!--endhere-->
                    <div class="tab-pane fade" id="v-pills-office" role="tabpanel" aria-labelledby="v-pills-office-tab">
                        <h4>Office & Facility</h4>
                        <p>Customer could do something, Customer could do something, Customer could do something.</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-courier" role="tabpanel" aria-labelledby="v-pills-courier-tab">
                        <h4>Courier Location</h4>
                        <p>Customer could do something, Customer could do something, Customer could do something.</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-service" role="tabpanel" aria-labelledby="v-pills-service-tab">
                        <h4>Service</h4>
                        <p>Customer could do something, Customer could do something, Customer could do something.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- Content End -->