<!-- Breadcrumb 
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fastline</li>
        </ol>
    </nav>
</div>
Breadcrumb End -->

<!-- Content -->
<main class="container-fluid mb-3" id="main">
    <!-- Components > Nav > The tabs plugs with vertical pills -->
    <div class="d-none d-md-block m-5"></div>
    <!-- Progress -->
    <div class="progress mt-5" style="height: 30px;">
        <div :class="progressClass0" role="progressbar" style="width: 16%;" aria-valuenow="16" aria-valuemin="0"
            aria-valuemax="100">Origin</div>
        <div :class="progressClass1" role="progressbar" style="width: 16%;" aria-valuenow="32" aria-valuemin="0"
            aria-valuemax="100">Package</div>
        <div :class="progressClass2" role="progressbar" style="width: 16%;" aria-valuenow="48" aria-valuemin="0"
            aria-valuemax="100">Shipment</div>
        <div :class="progressClass3" role="progressbar" style="width: 16%;" aria-valuenow="64" aria-valuemin="0"
            aria-valuemax="100">Rates</div>
        <div :class="progressClass4" role="progressbar" style="width: 16%;" aria-valuenow="80" aria-valuemin="0"
            aria-valuemax="100">Payment</div>
        <div :class="progressClass5" role="progressbar" style="width: 20%;" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100">Notification</div>
    </div>
    <br>
    <!-- nav nav-pills mb-3 d-flex flex-row justify-content-around -->
    <ul class="nav nav-pills mb-3 d-none" id="pills-tab" role="tablist">
        <li class="nav-item text-center">
            <a class="nav-link active" id="pills-origin-tab" data-toggle="pill" href="#pills-origin" role="tab"
                aria-controls="pills-origin" aria-selected="true">Origin</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" id="pills-package-tab" data-toggle="pill" href="#pills-package" role="tab"
                aria-controls="pills-package" aria-selected="false">Package</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" id="pills-shipment-tab" data-toggle="pill" href="#pills-shipment" role="tab"
                aria-controls="pills-shipment" aria-selected="false">Shipment</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" id="pills-rates-tab" data-toggle="pill" href="#pills-rates" role="tab" aria-controls="pills-rates"
                aria-selected="false">Rates</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" id="pills-payment-tab" data-toggle="pill" href="#pills-payment" role="tab"
                aria-controls="pills-payment" aria-selected="false">Payment</a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" id="pills-notification-tab" data-toggle="pill" href="#pills-notification" role="tab"
                aria-controls="pills-notification" aria-selected="false">Notification</a>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <!-- Origin Start -->
        <div class="border p-2 tab-pane fade show active" id="pills-origin" role="tabpanel" aria-labelledby="pills-origin-tab">
            <h4>THE GOODS ORIGIN</h4>
            <form action="">
                <div class="form-row">
                    <div class="col-md-8 form-group">
                        <label for="fullName">Sender Name*:</label>
                        <input class="form-control" type="text" name="fullName" id="fullName" placeholder="Full Name"
                            v-model="sender.name">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="contactName">Contact Name:</label>
                        <input class="form-control" type="text" name="contactName" id="contactName" v-model="sender.contactName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="streetAddress">Adderss*:</label>
                    <input class="form-control" type="text" name="streetAddress" id="streetAddress" placeholder="Street Address"
                        v-model="sender.street">
                </div>
                <div class="form-group">
                    <label for="apartment" class="sr-only">Apartment</label>
                    <input class="form-control" type="text" name="apartment" id="apartment" placeholder="Apartment, suite, unit,building, floor"
                        v-model="sender.apartment">
                </div>
                <div class="form-group">
                    <label for="department" class="sr-only">Department</label>
                    <input class="form-control" type="text" name="department" id="department" placeholder="Department, C/o, Suburban, region"
                        v-model="sender.department">
                </div>
                <div class="form-row">
                    <div class="col-md-4 form-group">
                        <label for="city" class="form-label">City*:</label>
                        <select name="city" id="city" class="form-control" v-model="sender.city">
                            <option value="">Please choose a city...</option>
                            <option v-for="place in places" :value="place.id" :key="place.id">{{place.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="state">State/Province*:</label>
                        <input class="form-control" type="text" name="state" id="state" v-model="sender.state">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="postcode">Postcode*:</label>
                        <input class="form-control" type="text" name="postcode" id="postcode" v-model="sender.postcode">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-8 form-group">
                        <label for="country" class="form-label">Country*:</label>
                        <select name="country" id="country" class="form-control" v-model="sender.country">
                            <option value="">Please choose a country...</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Australia">Australia</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-5 form-group">
                        <label for="email">Email*:</label>
                        <input class="form-control" type="text" name="email" id="email" v-model="sender.email">
                    </div>
                    <div class="col-md-5 form-group">
                        <label for="phone">Phone*:</label>
                        <input class="form-control" type="text" name="phone" id="phone" v-model="sender.phone">
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="extension">Extension:</label>
                        <input class="form-control" type="text" name="extension" id="extension" v-model="sender.extension">
                    </div>
                </div>
                <div class="form-group">
                    <label for="rstreetAddress">Return Adderss (fill if different)</label>
                    <input class="form-control" type="text" name="rstreetAddress" id="rstreetAddress" placeholder="Street Address"
                        v-model="packageReturn.street">
                </div>
                <div class="form-group">
                    <label for="rapartment" class="sr-only">Apartment</label>
                    <input class="form-control" type="text" name="rapartment" id="rapartment" placeholder="Apartment, suite, unit,building, floor"
                        v-model="packageReturn.apartment">
                </div>
                <div class="form-group">
                    <label for="rdepartment" class="sr-only">Department</label>
                    <input class="form-control" type="text" name="rdepartment" id="rdepartment" placeholder="Department, C/o, Suburban, region"
                        v-model="packageReturn.department">
                </div>
                <div class="form-row">
                    <div class="col-md-4 form-group">
                        <label for="r_city" class="form-label">City*:</label>
                        <select name="r_city" id="r_city" class="form-control" v-model="packageReturn.city">
                            <option value="">Please choose a city...</option>
                            <option v-for="place in places" :value="place.id">{{place.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="r_state">State/Province*:</label>
                        <input class="form-control" type="text" name="r_state" id="r_state" v-model="packageReturn.state">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="r_postcode">Postcode*:</label>
                        <input class="form-control" type="text" name="r_postcode" id="r_postcode" v-model="packageReturn.postcode">
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="confirmGetEmail" v-model="isSentUpdate">
                        <label class="form-check-label" for="confirmGetEmail">
                            Sent delivery status update to email address above
                        </label>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <a class="btn btn-primary ml-auto" @click="nextHandler">Next</a>
                    <a href="/fastline.php" class="btn btn-outline-dark ml-2">Cancel</a>
                </div>
            </form>
        </div>
        <!-- Origin End -->
        <!-- Package Detail Start -->
        <div class="border p-2 tab-pane fade " id="pills-package" role="tabpanel" aria-labelledby="pills-package-tab">
            <h4>PACKAGE DETAIL</h4>
            <div class="form-group">
                <label for="deliverTo">DELIVER TO</label>
                <input class="form-control" type="text" name="deliverTo" id="deliverTo" placeholder="Full Name" v-model="dest.name">
            </div>
            <div class="form-group">
                <label for="d_streetAddress">Adderss*:</label>
                <input class="form-control" type="text" name="d_streetAddress" id="d_streetAddress" placeholder="Street Address"
                    v-model="dest.street">
            </div>
            <div class="form-group">
                <label for="d_apartment" class="sr-only">Apartment</label>
                <input class="form-control" type="text" name="d_apartment" id="d_apartment" placeholder="Apartment, suite, unit,building, floor"
                    v-model="dest.apartment">
            </div>
            <div class="form-group">
                <label for="d_department" class="sr-only">Department</label>
                <input class="form-control" type="text" name="d_department" id="d_department" placeholder="Department, C/o, Suburban, region"
                    v-model="dest.department">
            </div>
            <div class="form-row">
                <div class="col-md-4 form-group">
                    <label for="d_city" class="form-label" v-model="packageReturn.city">City*:</label>
                    <select name="d_city" id="d_city" class="form-control" v-model="dest.city">
                        <option value="">Please choose a city...</option>
                        <option v-for="place in places" :value="place.id">{{place.name}}</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <label for="d_state">State/Province*:</label>
                    <input class="form-control" type="text" name="d_state" id="d_state" v-model="dest.state">
                </div>
                <div class="col-md-4 form-group">
                    <label for="d_postcode">Postcode*:</label>
                    <input class="form-control" type="text" name="d_postcode" id="d_postcode" v-model="dest.postcode">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-8 form-group">

                    <label for="d_country" class="form-label">Country*:</label>
                    <select name="d_country" id="d_country" class="form-control" v-model="dest.country">
                        <option value="">Please choose a country...</option>
                        <option value="New Zealand">New Zealand</option>
                        <option value="Australia">Australia</option>
                    </select>
                </div>
            </div>

            <div class="form-group form-inline">
                <label for="packageType" class="form-label col-md-2"><strong>PACKAGE TYPE:</strong></label>
                <select name="packageType" id="packageType" class="form-control col-md-4" v-model="packageInformation.type">
                    <option v-for="item in packageTypes" :value="item">{{item}}</option>
                </select>
            </div>
            <div class="form-group form-inline">
                <label for="noPackage" class="form-label col-md-3">NO. Package</label>
                <input type="text" name="noPackage" id="noPackage" class="form-control col-md-3" v-model="packageInformation.number">
            </div>
            <div class="form-group form-inline">
                <label for="weight" class="form-label col-md-3">Weight (kg)</label>
                <input type="text" name="weight" id="weight" class="form-control col-md-3" v-model="packageInformation.weight">
            
            </div>
            <div class="form-group form-inline">
                <div class="form-check offset-md-3">
                    <input class="form-check-input" type="checkbox" id="isPickup" v-model="packageInformation.isPickup">
                    <label class="form-check-label" for="isPickup">
                        Pickup the package from your home
                    </label>
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="shipDate" class="form-label col-md-3">Shipping Date</label>
                <input type="date" name="shipDate" id="shipDate" class="form-control col-md-3" v-model="packageInformation.shippingDate">
            </div>
            <div class="d-flex flex-row">
                <a class="btn btn-secondary ml-auto" @click="previousHandler">Back</a>
                <a class="btn btn-primary ml-2" @click.prevent="nextHandler">Next</a>
                <a href="/fastline.php" class="btn btn-outline-dark ml-2">Cancel</a>
            </div>
        </div>
        <!-- Package Detail End -->
        <!-- Shipment Start -->
        <div class="border p-2 tab-pane fade " id="pills-shipment" role="tabpanel" aria-labelledby="pills-shipment-tab">
            <h4>Shipment</h4>
            <form>
                <div class="form-group row">
                    <label for="orderNo" class="offset-sm-1 col-sm-2">1. Order NO:</label>
                    <div class="col-sm-4">
                        <input type="text" name="orderNo" id="orderNo" class="form-control" v-model="shipment.orderNo">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="deliverySpeed" class="offset-sm-1 col-sm-2">2. Delivery Speed:</label>
                    <div class="col-sm-4">
                        <select name="deliverySpeed" id="deliverySpeed" class="form-control" @change="getDeliverySpeedTerm"
                            v-model="shipment.deliverySpeedID">
                            <option v-for="item in deliverySpeeds" :value="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <p class="offset-sm-3">Term and Condition</p>
                </div>
                <div class="row offset-sm-3" v-html="terms">
                </div>
                <div class="row">
                    <p class="offset-sm-1 col-sm-2">3. Extra Service:</p>
                    <div class="col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="extraService" id="extraService1"
                                v-model="shipment.isDangerous">
                            <label class="form-check-label" for="extraService1">
                                Fragile Material / Dangerous Goods (NZ$5.00)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="extraService" id="extraService2"
                                v-model="shipment.isHazardous">
                            <label class="form-check-label" for="extraService2">
                                Perishables & Hazardous Goods (NZ$5.00)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="extraService" id="extraService3"
                                v-model="shipment.isDoortoDoor">
                            <label class="form-check-label" for="extraService3">
                                Door to Door Services (NZ$5.00)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="extraService" id="extraService4"
                                v-model="shipment.isRepackaging">
                            <label class="form-check-label" for="extraService4">
                                Repackaging (NZ$5.00)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="offset-sm-1 col-sm-2">4. Shipment Type:</p>
                    <div class="col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="shipmentType" id="shipmentType1" v-model="shipment.shipmentType"
                                value="shipmentType1">
                            <label class="form-check-label" for="shipmentType1">
                                Land / Domestic in the region Service
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="shipmentType" id="shipmentType2" v-model="shipment.shipmentType"
                                value="shipmentType2">
                            <label class="form-check-label" for="shipmentType2">
                                AIR / International / Domestic service
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="shipmentType" id="shipmentType3" v-model="shipment.shipmentType"
                                value="shipmentType3">
                            <label class="form-check-label" for="shipmentType3">
                                SEA / International / Domestic service (Bulk Items)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="others" class="offset-sm-1 col-sm-2">5. Others Inquiry:</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" id="others" rows="3" v-model="shipment.otherInquiry"></textarea>
                    </div>
                </div>
            </form>
            <div class="d-flex flex-row">
                <a class="btn btn-secondary ml-auto" @click="previousHandler">Back</a>
                <a class="btn btn-primary ml-2" @click.prevent="ratesHandler">Next</a>
                <a href="/fastline.php" class="btn btn-outline-dark ml-2">Cancel</a>
            </div>

        </div>
        <!-- Shipment End -->
        <!-- Rates Start -->
        <div class="border p-2 tab-pane fade " id="pills-rates" role="tabpanel" aria-labelledby="pills-rates-tab">
            <h4>DELIVERY RATES</h4>
            <div class="row">
                <p class="offset-md-1 col-md-3">1. Order No: </p>
                <p class="col-md-6 offset-4 offset-md-0" v-text="shipment.orderNo"></p>
            </div>
            <!-- Sender Information -->
            <div class="row">
                <p class="offset-md-1 col-md-3">2. Origin Package: </p>
            </div>
            <div class="row">
                <p class="offset-md-1 col-md-3 text-center text-md-right">Sender: </p>
                <p class="col-md-6" v-text="sender.name"></p>
            </div>
            <div class="row">
                <p class="offset-md-1 col-md-3 text-center text-md-right">Address: </p>
                <p class="col-md-6" v-text="sender.street + ', ' + sender.apartment + ', ' + sender.department"></p>
            </div>
            <div class="row">
                <p class="offset-md-3 col-md-6" v-text="places[Number(sender.city) -1].name + ', ' + sender.state + ', ' + sender.country"></p>
            </div>
            <!-- Sender Information End -->

            <!-- Dest Information -->
            <div class="row">
                <p class="offset-md-1 col-md-3">3. Destination: </p>
            </div>
            <div class="row">
                <p class="offset-md-1 col-md-3 text-center text-md-right">Recipient: </p>
                <p class="col-md-6" v-text="dest.name"></p>
            </div>
            <div class="row">
                <p class="offset-md-1 col-md-3 text-center text-md-right">Address: </p>
                <p class="col-md-6" v-text="dest.street + ', ' + dest.apartment + ', ' + dest.department"></p>
            </div>
            <div class="row">
                <p class="offset-md-3 col-md-6" v-text="places[Number(dest.city) -1].name + ', ' + dest.state + ', ' + dest.country"></p>
            </div>
            <!-- Dest Information End -->

            <!-- Delivery Detail -->
            <div class="row">
                <p class="offset-md-1 col-md-3">4. Delivery Detail: </p>
            </div>
            <div class="row">
                <p class="offset-md-1 col-md-3 text-center text-md-right">Package Number: </p>
                <p class="col-md-6" v-text="packageInformation.number"></p>
            </div>
            <div class="row">
                <p class="offset-md-1 col-md-3 text-center text-md-right">Weight: </p>
                <p class="col-md-6" v-text="packageInformation.weight + 'kg'"></p>
            </div>
            <div class="row">
                <p class="offset-md-1 col-md-3 text-center text-md-right">Delivery Speed Type:</p>

                <p class="col-md-6" v-text="'NZ$ ' + rates.basicPrice + '(' + deliverySpeeds[shipment.deliverySpeedID].name + ')'"></p>
            </div>
            <div class="row">
                <p class="offset-md-1 col-md-3 text-center text-md-right">Extra Price:</p>
                <p class="col-md-6" v-text="'NZ$ ' + rates.extraPrice"></p>
            </div>
            <div class="row">
                <p class="offset-md-1 col-md-3 text-center text-md-right">GST (10%):</p>
                <p class="col-md-6" v-text="'NZ$ ' + rates.GST"></p>
            </div>
            <div class="row">
                <p class="offset-md-1 col-md-3 text-center text-md-right">Total Price:</p>
                <p class="col-md-6" v-text="'NZ$ ' + rates.totalPrice"></p>
            </div>

            <div class="d-flex flex-row">
                <a class="btn btn-secondary ml-auto" @click="previousHandler">Back</a>
                <a class="btn btn-primary ml-2" @click.prevent="nextHandler">Next</a>
                <a href="/fastline.php" class="btn btn-outline-dark ml-2">Cancel</a>
            </div>
        </div>
        <!-- Rates End -->

        <!-- Payment Start -->
        <div class="border p-2 tab-pane fade " id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
            <div class="d-flex flex-row">
                <div class="col-md-3 bg-dark text-light d-md-flex flex-md-column d-none">
                    <p class="display-5 mx-auto mt-3">PAYMENT SUMMARY</p>
                    <div class="row">

                        <p class="col-md-8"> {{ deliverySpeeds[shipment.deliverySpeedID].name}} Price: </p>
                        <p class="col-md-4">NZ$ {{ rates.basicPrice }}</p>
                    </div>

                    <div class="row">
                        <p class="col-md-8">Extra Serivce: </p>
                        <p class="col-md-4">NZ$ {{ rates.extraPrice}} </p>
                    </div>
                    <div class="row">
                        <p class="col-md-8">GST: </p>
                        <p class="col-md-4">NZ$ {{ rates.GST }}</p>
                    </div>
                    <div class="row border-top border-white m-2"></div>
                    <div class="row">
                        <p class="col-md-8">Total Price: </p>
                        <p class="col-md-4">NZ$ {{ rates.totalPrice }}</p>
                    </div>

                    <a href="/fastline.php" class="btn btn-dark border-white mx-auto">Cancel</a>

                </div>

                <div class="col-md-9 d-flex flex-column">
                    <h4>PAYMENT METHOD</h4>
                    <h5 class="mx-auto mt-3">PAY WITH CREDIT CARD</h5>
                    <img class="img-fluid mx-auto mb-2" src="./img/creditCards.png" alt="">
                    <div class="form-inline mb-2">
                        <label for="cardType" class="offset-md-1 col-md-3">Card Type:</label>
                        <select id="cardType" class="form-control col-md-6">
                            <option value="Card Type">Card Type</option>
                            <option value="MasterCard">MasterCard</option>
                            <option value="VISA">VISA</option>
                            <option value="American Express">American Express</option>
                            <option value="Discover">Discover</option>
                        </select>
                    </div>
                    <div class="form-inline mb-2">
                        <label for="cardHoldName" class="offset-md-1 col-md-3">Card Hold Name:</label>
                        <input type="text" id="cardHoldName" class="form-control col-md-6">
                    </div>
                    <div class="form-inline mb-2">
                        <label for="cardNumber" class="offset-md-1 col-md-3">Card Number:</label>
                        <input type="text" id="cardNumber" class="form-control col-md-6">
                    </div>
                    <div class="form-inline mb-2">
                        <label for="cardIssuedM" class="offset-md-1 col-md-3">Card Issued:</label>
                        <input type="text" id="cardIssuedM" class="form-control col-md-3" placeholder="month">
                        <label for="cardIssuedY" class="sr-only">Card Issued (Year):</label>
                        <input type="text" id="cardIssuedY" class="form-control col-md-3" placeholder="year">
                    </div>
                    <div class="form-inline mb-2">
                        <label for="cardExpiredM" class="offset-md-1 col-md-3">Card Issued:</label>
                        <input type="text" id="cardExpiredM" class="form-control col-md-3" placeholder="month">
                        <label for="cardExpiredY" class="sr-only">Card Issued (Year):</label>
                        <input type="text" id="cardExpiredY" class="form-control col-md-3" placeholder="year">
                    </div>
                    <div class="form-inline mb-2">
                        <label for="cvc" class="offset-md-1 col-md-3">CVV / CVC:</label>
                        <input type="text" class="form-control col-md-6" id="cvc">
                    </div>
                    <div class="row mx-auto">
                        <button class="btn btn-primary" @click.prevent="nextHandler">CONFIRM</button>
                    </div>

                    <P class="my-5 mx-auto">OR PAY WITH ANOTHER METHOD</P>
                    <div class="row mb-3">
                        <button class="btn btn-primary mx-auto">PAY with PayPal</button>
                    </div>
                    <div class="d-flex flex-row">
                        <a class="btn btn-secondary ml-auto" @click="previousHandler">Back</a>
                    </div>

                </div>

            </div>


        </div>
        <!-- Payment End -->
        <!-- Notification Start -->
        <div class="border p-2 tab-pane fade " id="pills-notification" role="tabpanel" aria-labelledby="pills-notification-tab">
            <div class="m-5"></div>
            <h4 class="bg-dark text-light text-center py-3">COMPLETE ORDER</h4>
            <p class="offset-md-2 col-md-8 text-center">
                Thank you for ordering and request our Company delivery service to deliver your goods to destination.
                We will do the pickup goods service no more than 2 working days and send immediatelly to the
                destination with an etimated delivery time
                according to the choising of delivery service.
            </p>
            <p class="offset-md-2 col-md-8 text-center">
                Billing statement and Order notification will be email to your address.
            </p>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="flex-row justify-content-center mt-3">
                    <h2>WARM</h2>
                </div>
                <div class="flex-row justify-content-center mb-3">
                    <h2>REGARDS</h2>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <a href="#" class="btn btn-primary ml-2">Download Notification</a>
                <a href="#" class="btn btn-info ml-2">View form</a>
            </div>
            <div class="d-flex flex-row">
                <a class="btn btn-primary ml-auto mt-3" @click.prevent="nextHandler">Next Order</a>

            </div>
        </div>
        <!-- Notification End -->
    </div>
    <div class="d-none d-md-block m-5"></div>
</main>
<!-- Content End -->