<!-- Footer -->
<div id="footer">

    <!-- Mobile & Computer -->
    <div class="d-flex flex-row p-2"></div>
    <div class="d-flex flex-column flex-md-row pt-2 text-white justify-content-around">

        <div class="m-1 p-1 col-md-2">
            <h6 class="text-center pb-2">Company Address & Contact Center</h6>
            <p>+64 555 666</p>

        </div>
        <div class="m-1 p-1 col-md-2">
            <h6 class="text-center pb-2">Branches</h6>
            <ul style="list-style-type: none; margin: 0;padding:0">
                <li>Queenstown</li>
                <li>Dunedin</li>
                <li>Christchurch</li>
                <li>Auckand</li>
                <li>Wellington</li>
                <li>Sydney</li>
                <li>Perth</li>
            </ul>

        </div>
        <div class="m-1 p-1 col-md-2">
            <h6 class="text-center pb-2">Connecting</h6>
            <ul style="list-style-type: none;margin: 0;padding:0">
                <li>Customer Service</li>
                <li><a class="text-light" href="./career.php">Career</a></li>
            </ul>
        </div>
        <div class="m-1 p-1 col-md-2">
            <h6 class="text-center pb-2;">Company Partner</h6>
            <div class="d-flex flex-column">
                <img class="col-9 mx-auto col-md-12 img-fluid" alt="Ourpartnerparcelforce" src="./img/parcelforce.png" />
                <br>
                <img class="col-9 mx-auto col-md-12 img-fluid" alt="Ourpartnercrown" src="./img/crown.png" />
            </div>
        </div>
        <div class="m-1 p-1 col-md-2">
            <h6 class="text-center pb-2">Follow US</h6>
            <div class="m-1 p-1 col-md-2">
                <ul style="list-style-type: none;margin: 0; padding-Left: 0">
                    <li>
                        <div class="text-nowrap"><a style="color: inherit; text-decoration: none" href="http://www.facebook.com"><img
                                    style="max-width: 35px; padding-bottom: 5px" alt="Facebooklogo" src="./img/facebook.png" />Facebook</a></div>
                    </li>
                    <li>
                        <div class="text-nowrap"><a style="color: inherit; text-decoration: none" href="http://www.youtube.com"><img
                                    style="max-width: 35px; padding-bottom: 5px" alt="Youtubelogo" src="./img/youtube.png" />Youtube</a></div>
                    </li>
                    <li>
                        <div class="text-nowrap"><a style="color: inherit; text-decoration: none" href="http://www.twitter.com"><img
                                    style="max-width: 35px" src="./img/twitter.png" alt="twitterlogo"/>Twitter</a></div>
                    </li>
                </ul>

            </div>
        </div>

    </div>
    <div class="d-flex flex-row pr-4 pb-1 justify-content-end text-white-50">
        <a href="/privacy.php" class="text-white-50">Privacy Policy</a>&nbsp;
        &copy; Supermail 2018
    </div>
</div>
<!-- Footer End -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="./lib/jquery/jquery.slim.min.js"></script>
<script src="./lib/popper/popper.min.js"></script>
<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
<script src="./lib/vue/vue-2.4.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>