<!--Mobile Content-->
<div class="container d-md-none col-sm-7 mb-5 pb-5">
    <Div class="d-flex flex-row flex-column pt-5"></Div>
    <h2 class="text-center">Retrieve Your Account</h2>

    <div class="p-3 shadow-lg bg-white rounded text-capitalize">

        <div class="form-group">
            <Div class="d-flex flex-row flex-column pt-2"></Div>

            <label for="InputEmail1">Email address</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp1" placeholder="Enter email"
                required>
            <span class="text-danger" id="errorhm" hidden>Your email are not recognized</span>

        </div>
        <Div class="d-flex flex-row flex-column "></Div>

        <p>We will send you an email to retrieve your account</p>

        <Div class="container col-8"><button type="submit" class="btn btn-outline-info col-12 justify-content-end" id="send"
                value="Send Email"  >Send Email</button></Div>

    </div>

</div>

<!--computer-->
<div class="container d-none d-md-flex col-md-10 mb-5 justify-content-center">

    <form class="col-md-12 col-xl-8 pt-5">
        <div class="d-flex flex-row mt-xl-3"></div>
        <div class="d-flex flex-row mt-5"></div>
        <h3>Retrieve Your Account</h3>
        <div class="p-3 shadow-lg bg-white rounded text-capitalize">

            <div class="form-group">
                <Div class="d-flex flex-row flex-column pt-2"></Div>

                <label for="InputEmail1">Email address</label>
                <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                    required>
                <span class="text-danger" id="errorhd" hidden>Your email are not recognized</span>

            </div>
            <Div class="d-flex flex-row flex-column pt-2"></Div>
            <div class="row justify-content-center p-1">
                <p class="col-9 mt-2">We will send you an email to retrieve your account</p>

                <Div class="col-3"><button type="submit" class="btn btn-outline-primary col-12" id="send1"
                            >Send Email</button></Div>
            </div>
        </div>
    </form>
</div>