<!-- Content -->
<main class="container-fluid" id="main">
    <!-- Components > Nav > The tabs plugs with vertical pills -->
    <div class="d-none d-md-block m-5"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-customer-tab" data-toggle="pill" href="#v-pills-customer" role="tab"
                    aria-controls="v-pills-customer" aria-selected="true">Customer Support</a>
                <a class="nav-link" id="v-pills-faq-tab" data-toggle="pill" href="#v-pills-faq" role="tab"
                    aria-controls="v-pills-faq" aria-selected="false">FAQ</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-customer" role="tabpanel" aria-labelledby="v-pills-customer-tab">
                    <!--start from here-->
                    <!--Computer-->
                    <div class="d-none d-md-flex">
                        <div class="container">


                            <h2>Customer Support</h2>
                            <label class="text-muted">A place where all your questions are being solved</label>
                            <hr />
                            <div class="jumbotron row mr-1" style="background-color: darkslategrey">

                                <div class="col-md-6 align-self-center"><img class="img-fluid" src="./img/helpsupport2.png"
                                        alt="helpandsupp" /></div>
                                <div class="col-6">
                                    <h1 class="text-center text-light">Contact US</h1>
                                    <hr />

                                    <div class="container d-lg-flex justify-content-around">
                                        <div class="lead col-5 p-2 text-light">
                                            <h3>National</h3> <strong>01230322</strong>
                                        </div>
                                        <div class="lead col-5 p-2 text-light">
                                            <h3>International</h3> <strong>+64555666</strong>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="lead text-justify pb-5">

                                <div class="container-fluid row justify-content-around">
                                    <div class="card col-lg-5 col-md-8 mr-sm-4 mr-lg-0 mb-sm-4 mb-lg-0">
                                        <img class="img-fluid" src="./img/faq.png" alt="faq">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">FrequentlyAskedQuestions</h5>
                                            <p class="card-text">Some of your questions may have been answered in the
                                                past. Why don't you try looking at it first</p>
                                            
                                                <a class="btn btn-primary mt-auto" @click="toFAQ">Check Here</a>
                                            
                                        </div>
                                    </div>
                                    <div class="card col-lg-5 col-md-8 mr-sm-4 mr-lg-0">
                                        <img class="img-fluid" src="./img/msg.png" alt="Message">
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">Send Us a Message</h5>
                                            <p class="card-text">Send us your message or query regarding our services.</p><br>
                                            
                                                <a href="/messageUs.php" class="btn btn-primary mt-auto">Click Here</a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="offset-sm-1 offset-md-0 pb-5">
                                    <div class="container-fluid row justify-content-around">
                                        <a href="./achievement.html" class="text-dark">
                                            <img class="col-9 d-flex row" src="./img/throphy.png" alt="achievementpage" />Our
                                            Achievement
                                        </a>
                                        <a href="./Aboutus.html" class="text-dark">
                                            <img class="col-9 d-flex row" src="./img/aboutUS.png" alt="AboutUS"><span
                                                class="offset-1">Our Company</span>
                                        </a>
                                        <a href="./OurCustomer.html" class="text-dark">
                                            <img class="col-9 d-flex row" src="./img/aboutUS.png" alt="ourcustomerpage"><span
                                                class="offset-1">Our Customer</span>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!--mobile-->

                    <div class="d-md-none">
                        <div class="container">


                            <h2>Customer Support</h2>
                            <label class="text-muted">A place where all your questions are being solved</label>
                            <hr />
                            <div class="jumbotron col-12" style="background-color: darkslategrey">
                                <h1 class="text-center text-light">Contact US</h1>
                                <hr />
                                <div class="col-11 pl-4 ml-5"><img class="img-fluid ml-1" src="./img/helpsupport2.png"
                                        alt="helpandsupp" /></div>
                                <div class="col-12">


                                    <div class="container align-content-center text-center pt-5">
                                        <div class="lead text-light">
                                            <h3>National</h3> <strong>01230322</strong>
                                        </div>
                                        <div class="lead p-2 text-light">
                                            <h3>International</h3> <strong>+64555666</strong>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="lead text-justify pb-5">

                                <div class="container-fluid row justify-content-around">
                                    <div class="card mr-lg-0 mb-4 mb-lg-0">
                                        <img class="" src="./img/faq.png" alt="faq">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">FrequentlyAskedQuestions</h5>
                                            <p class="card-text">Some of your questions may have been answered in the
                                                past. Why don't you try looking at it first</p>
                                            <a href="#" class="btn btn-primary" @click="toFAQ">Check Here</a>
                                        </div>
                                    </div>
                                    <div class="card mr-lg-0">
                                        <img class="" src="./img/msg.png" alt="Message">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">Send Us a Message</h5>
                                            <p class="card-text">Send us your feedback or query regarding our services.</p>
                                            <a href="/messageUs.php" class="btn btn-primary">Click Here</a>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="offset-sm-1 offset-md-0 pb-5">
                                    <div class="container-fluid row justify-content-around">
                                        <a href="./achievement.html" class="text-dark">
                                            <img class="col-9 d-flex row" src="./img/throphy.png" alt="achievementpage" />Our
                                            Achievement
                                        </a>
                                        <a href="./Aboutus.html" class="text-dark">
                                            <img class="col-9 d-flex row" src="./img/aboutUS.png" alt="AboutUS"><span
                                                class="offset-1">Our Company</span>
                                        </a>
                                        <a href="./OurCustomer.html" class="text-dark">
                                            <img class="col-9 d-flex row" src="./img/aboutUS.png" alt="ourcustomerpage"><span
                                                class="offset-1">Our Customer</span>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!--endhere-->
                </div>
                <div class="tab-pane fade pb-5" id="v-pills-faq" role="tabpanel" aria-labelledby="v-pills-faq-tab">
                    <!--start from here-->
                    <div class="container">
                        <h1>Frequently Asked Questions</h1>
                        <p>If you are unsure of any aspect of the Supermail courier service then here are some of the
                            most frequently asked questions that should help answer many of your queries. </p>
                        <h3>About our Services</h3>



                        <button class="btn border-0 bg-transparent d-block" type="button" data-toggle="collapse"
                            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <div class="oi oi-chevron-bottom"> &nbsp; How are price calculated?</div>
                        </button>

                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                Prices are based on the weight, volume, service and destination of your shipment.
                                Consignments may also attract surcharges for additional services.

                            </div>
                        </div>
                        <div class="pt-2">
                            <button class="btn border-0 bg-transparent d-block" type="button" data-toggle="collapse"
                                data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                                <div class="oi oi-chevron-bottom"> &nbsp; How do i track my parcel?</div>
                            </button>

                            <div class="collapse" id="collapseExample1">
                                <div class="card card-body">
                                    Simply use the ticket that we give it to you and enter the code in the home page.
                                    We will provide you with the code after your items are received in our office </p>

                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <button class="btn border-0 bg-transparent d-block" type="button" data-toggle="collapse"
                                data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                                <div class="oi oi-chevron-bottom"> &nbsp; How do i rearrange a delivery of the
                                    shipment?</div>
                            </button>

                            <div class="collapse" id="collapseExample2">
                                <div class="card card-body">
                                    If the package has delivered into the destination then you have to re-use our
                                    delivery process and attempt the delivery.
                                    If the package is still hasn't delivered yet . you could contact our service and we
                                    will arrange it to your desired place. <span class="text-truncate">extra charge may
                                        apply</span></p>

                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <button class="btn border-0 bg-transparent d-block pt-2" type="button" data-toggle="collapse"
                                data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                                <div class="oi oi-chevron-bottom"> &nbsp; What goods are considered Dangerous?</div>
                            </button>

                            <div class="collapse" id="collapseExample3">
                                <div class="card card-body">
                                    See dangerous goods for a list of items are restricted by legislation or
                                    regulations, which can only be shipped under appropriate conditions. For more
                                    information, feel free to contact us.

                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <button class="btn border-0 bg-transparent d-block pt-2" type="button" data-toggle="collapse"
                                data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                                <div class="oi oi-chevron-bottom"> &nbsp; Is my shipment covered by insurance?</div>
                            </button>

                            <div class="collapse" id="collapseExample4">
                                <div class="card card-body">
                                    <p>
                                        We cover any damage or lost items for up to $75. If you would like to get
                                        yourself an insurance broker. You can Find your own insurance broker <a href="https://www.nzi.co.nz/find-a-broker/pages/find-a-broker.aspx">Here</a>
                                        . If you need more info or assistance regarding this matter , we would gladly
                                        help .
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <button class="btn border-0 bg-transparent d-block pt-2" type="button" data-toggle="collapse"
                                data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                                <div class="oi oi-chevron-bottom"> &nbsp; How do i file a complaint for damaged/lost
                                    items?</div>
                            </button>

                            <div class="collapse" id="collapseExample5">
                                <div class="card card-body">
                                    You could file the claim minimum 2 days after the delivery. You could go to our
                                    office or contact us via phone call and we will sort it out for you.
                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <button class="btn border-0 bg-transparent d-block pt-2" type="button" data-toggle="collapse"
                                data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                                <div class="oi oi-chevron-bottom"> &nbsp; Would i receive help on packing my items?</div>
                            </button>

                            <div class="collapse" id="collapseExample6">
                                <div class="card card-body">
                                    You could receive our help, but we will charge you extra depending on how big your
                                    items is
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--endhere-->
                </div>
            </div>
        </div>
    </div>

</main>
<!-- Content End -->