<!--mobile-->
<div class="container pt-5 d-md-none">
    <h3>Courier Locator</h3>
    <hr />
    <p>Find out our courier near your area</p>
    <!--The div element for the map -->
    <div class="gmap_canvas container-fluid mb-5">
        <iframe width="320" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=sit%20invercargill&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"></iframe><br /><a class="small text-muted" href="https://www.pureblack.de"> web Reference :
            website erstellen lassen</a>
    </div>
    <style>
        .gmap_canvas {
            overflow: hidden;
            background: none !important;
            height: 700px;
            width: 90%;
        }
    </style>



</div>
<!--computer-->
<div class="container pt-5 d-none d-md-flex flex-column">
    <h3>Courier Locator</h3>
    <hr />
    <p>Find out our courier near your area</p>
    <!--The div element for the map -->
    <div class="gmap_canvas mb-5">
        <iframe width="1300" height="600" id="gmap_canvas2" src="https://maps.google.com/maps?q=sit%20invercargill&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"></iframe><br /><a class="small text-muted" href="https://www.pureblack.de">Reference :
            website erstellen lassen</a>
        <style>
            .gmap_canvas2 {
                overflow: hidden;
                background: none !important;
                height: 800px;
                width: 1300px;
            }
        </style>
    </div>



</div>

<!-- Content End -->