
    <!-- Content -->
    <main class="container-fluid">
        <!-- Components > Nav > The tabs plugs with vertical pills -->
        <div class="d-none d-md-block m-5"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-customer-tab" data-toggle="pill" href="#v-pills-customer"
                       role="tab" aria-controls="v-pills-customer" aria-selected="true">Customer Support</a>
                    <a class="nav-link" id="v-pills-office-tab" data-toggle="pill" href="#v-pills-office" role="tab"
                       aria-controls="v-pills-office" aria-selected="false">Office & Facility</a>
                    <a class="nav-link" id="v-pills-courier-tab" data-toggle="pill" href="#v-pills-courier" role="tab"
                       aria-controls="v-pills-courier" aria-selected="false">Courier Location</a>
                    <a class="nav-link" id="v-pills-service-tab" data-toggle="pill" href="#v-pills-service" role="tab"
                       aria-controls="v-pills-service" aria-selected="false">Service</a>
                </div>
            </div>
            <div class="container col-md-9 m-0">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-customer" role="tabpanel" aria-labelledby="v-pills-customer-tab">
                        <!--start from here-->
                        <div class="container pb-5"> <h2>Learn how to pack your items properly</h2>
                            <hr />
                            <dl>
                                <dt>1. Avoid empty space</dt>
                                <dd>Always fill empty space with foam or any solid items. So there will be no room for the items to move around that might cause damage to your items</dd>
                                <dt>2. Seal your boxes properly</dt>
                                <dd>Sealing your boxes properly with tape on each gap of the box.</dd><dd>Make sure the tape is long enough and the tape stick strongly to the surface of the box</dd> <dd>Do a cross tape</dd>
                                <dt>3. Quality of the boxes</dt>
                                <dd>Choose a boxes that are strong and in good condition</dd>
                                </dl>
                           <!--endhere-->
                                <div class="tab-pane fade" id="v-pills-office" role="tabpanel" aria-labelledby="v-pills-office-tab">
                                    <h4>Office & Facility</h4>
                                    <p>Customer could do something, Customer could do something, Customer could do something.</p>
                                </div>
                                <div class="tab-pane fade" id="v-pills-courier" role="tabpanel" aria-labelledby="v-pills-courier-tab">
                                    <h4>Courier Location</h4>
                                    <p>Customer could do something, Customer could do something, Customer could do something.</p>
                                </div>
                                <div class="tab-pane fade" id="v-pills-service" role="tabpanel" aria-labelledby="v-pills-service-tab">
                                    <h4>Service</h4>
                                    <p>Customer could do something, Customer could do something, Customer could do something.</p>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Content End -->
    