<!--start from here-->
<div class="container pb-5">
    <h2>Learn how to pack your items properly</h2>
    <hr />
    <dl>
        <dt>1. Avoid empty space</dt>
        <dd>Always fill empty space with foam or any solid items. So there will be no room for the items to move around
            that might cause damage to your items</dd>
        <dt>2. Seal your boxes properly</dt>
        <dd>Sealing your boxes properly with tape on each gap of the box.</dd>
        <dd>Make sure the tape is long enough and the tape stick strongly to the surface of the box</dd>
        <dd>Do a cross tape</dd>
        <dt>3. Quality of the boxes</dt>
        <dd>Choose a boxes that are strong and in good condition</dd>
    </dl>
    <!--endhere-->

</div>

<!-- Content End -->