<!-- Content -->
<main class="container pt-5 pb-5">
    <!-- Components > Nav > The tabs plugs with vertical pills -->
    <h1 class="offset-1 col-10 pb-4 pt-3">Privacy Policy</h1>
    <hr />

    <div class="text-justify container-fluid row offset-1 col-10">
        <p>
            We understands that privacy of your personal information is important for our customer.
            We are legally bound by the New Zealand Privacy Act 1993 and are committed to complying with the
            obligations set out in this Act.
        </p>
        <h3> What kinds of personal information does Supermail collect and hold?</h3>
        <p>
            The personal information we will collect from you depends on your relationship with .
            As a customer or supplier it will generally include your information such as name, business and email
            addresses and contact numbers, and may
            include your bank account details. Our electronic label printing platform requires customers to enter a
            consignees address and telephone number to enable Supermail to contact the consignee in the event that a
            delivery cannot be effected on the first attempt.
            If you are a franchisee of Supermail Couriers personal information collected may extend beyond this to
            include your driver's licence number, vehicle registration number, financial details, photo and date of
            birth. We do not collect personal information that we do not need.
        </p>
        <p>
            All customer, supplier and franchisee data is securely stored and in compliance with the Privacy Act 1993.
            This data is not used for marketing purposes and will not be shared with third parties unless it's
            necessary, few exceptions are for example government agency.
        </p>
        <h3>How is personal information collected and held?</h3>
        <p>
            Supermail collects most personal information directly from you. For example, when you become a customer,
            supplier or a franchisee you provide us with your information by filling in a form, dealing with us over
            the telephone, email or face to face, by sending us a letter, or by using our website. This information is
            held in hard copy and/or electronic databases. We may also collect information about you that is publicly
            available such as from other websites.
        </p>
        <h3> For what purposes does Supermail collect, hold, use and disclose personal information?</h3>
        <p>
            We need to collect personal information so that we can provide our products and services and conduct our
            business. Specifically, we need to collect personal information to interact with our customers, suppliers
            and franchisees and often to meet contractual obligations to these parties. Supermail does not sell, rent
            or trade your personal information to third parties. However, your personal information may be disclosed to
            third parties if required by applicable laws, or to service providers who provide services in connection
            with our products and services. If you would like to opt out of receiving future communication from
            Supermail you can do so by contacting the Privacy Officer at the contact details set out below, or by
            following instructions on the communication to opt out.
        </p>
        <h3>Security</h3>
        <p>
            Supermail takes reasonable steps to ensure the security of your personal information. We frequently update
            our anti-virus software to protect our systems from computer viruses. Further, all Supermail employees are
            required, as a condition of employment, to treat personal information held by Supermail as confidential.
            However, you should be aware that the internet is not a secure environment. We cannot protect personal
            information before it reaches us.
        </p>
        <h3>Website cookies and digital services</h3>
        <p>
            Information is also generated and collected whenever a page is accessed on our website that records
            information such as the time, date and specific page. We collect such information for statistical and
            maintenance purposes that enables us to continually evaluate our website performance. Some parts of our
            website also use ‘cookies’. A ‘cookie’ is a small test file that is placed on your computer’s hard drive by
            a web page server. Cookies store information about the use of our website and are used to identify new or
            previous visitors to the website and what pages have been accessed. Most web browsers are set to accept
            cookies, but this function can usually be disabled if you wish. Please note that if you do disable this,
            not all functionality on our website will be available to you.
        </p>

        <h3>Direct Marketing</h3>
        <p>
            Generally, we collect personal information directly from you. In some circumstances, however, we may
            collect personal information from third parties, including from our service providers and social media
            platforms such as Facebook. We use the information we, or our service providers, collect to assist us in
            determining how we can best engage with our members about our products and services. To this end, we or our
            service providers, may collect certain demographic information and behavioural information from social
            media platforms to better serve consumers with more targeted advertising. </p>
            <p>At times we use tools that enable
            us to identify the online sources of the telephone sales enquiries that we receive. The information we
            collect through these tools includes the time and date of the call, the geographical location of the call,
            the telephone number of the caller (unless withheld) and the IP address of the device the caller used to
            arrive at our website. The collection of this information helps us to determine the effectiveness of our
            marketing campaigns by identifying whether the calls were generated by Google Adwords click through, or by
            Facebook ad click throughs (for example).</p>
            <p>If we do not collect information in the way described above, we
            may not be able to let you know about our products and services in the most effective way. We may use and
            disclose the information we collect for the purpose of providing you with tailored marketing communications
            about our goods and services, or to conduct market research. Typically, we send these communications to
            your email address or mailing address. Occasionally, we may also sent marketing communications to your
            social media account, including for example, your Facebook account. We may also disclose your personal
            information to company in our company, to our other business partners or our service providers to give you
            information and offers about products and services offered by us or these companies.</p> 
        

        <h3>Disclosure of personal information to overseas recipients</h3>
        <p>
            Supermail may need to disclose your personal information to organisations located overseas. These overseas
            organisations are located in New Zealand and are service providers who perform a range of functions on our
            behalf including administrative and technological functions and may include authorised external
            contractors. For example, certain databases may be stored on servers located overseas. The overseas
            organisations may include related entities to the supermail group of companies. We are required to take
            measures to ensure your information is treated in accordance with the standards that apply in other
            countries.
        </p>
        <h3>Access to personal information and correction of personal information</h3>
        <p>
            You have the right to seek access to your personal information which has been collected and held by
            Supermail. You also have the right to ask us to modify your personal information when it is inaccurate,
            incomplete or out of date, or to delete your personal information. To do so please contact the Privacy
            Officer at the contact details set out below. Requests should be made in writing and we will need to verify
            your identity prior to providing you with access. We will promptly deal with any such requests for access.
        </p>

        <h3>Resolving your concerns</h3>
        <p>
            You have the right to complain if you believe that your privacy has been compromised or if you believe that
            Supermail has not complied with the Privacy Act. To do so please contact the Privacy Officer at the contact
            details set out below. We will endeavour to respond to you within 3 business days, and to resolve your
            complaint within 10 business days. When the nature of the complaint or other circumstances mean that it is
            not possible to meet these timelines then we will let you know within that time frame.
        </p>

        <h3>Contact US</h3>
        <p>
            If you would like to contact us regarding the privacy matter , we do have a privacy officer to deal with
            that matter.
        </p>

        phone: +64 276245102 <br />
        email: officerpls@yahoo.com



    </div>
    <br />
    <small class="text-muted container d-flex row justify-content-end"> Our privacy policy was last updated on 20 May
        2015.</small><br />

</main>
<!-- Content End -->