
    <!-- Content -->
    <main class="container-fluid">
        <!-- Components > Nav > The tabs plugs with vertical pills -->
        <div class="d-none d-md-block m-5"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-customer-tab" data-toggle="pill" href="#v-pills-customer"
                       role="tab" aria-controls="v-pills-customer" aria-selected="true">Customer Support</a>
                    <a class="nav-link" id="v-pills-office-tab" data-toggle="pill" href="#v-pills-office" role="tab"
                       aria-controls="v-pills-office" aria-selected="false">Office & Facility</a>
                    <a class="nav-link" id="v-pills-courier-tab" data-toggle="pill" href="#v-pills-courier" role="tab"
                       aria-controls="v-pills-courier" aria-selected="false">Courier Location</a>
                    <a class="nav-link" id="v-pills-service-tab" data-toggle="pill" href="#v-pills-service" role="tab"
                       aria-controls="v-pills-service" aria-selected="false">Service</a>
                </div>
            </div>
            <div class="container col-md-9 m-0">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-customer" role="tabpanel" aria-labelledby="v-pills-customer-tab">
                        <!--start from here-->
                        <div class="container pb-5"> <h2>Prohibited or restricted items</h2>
                            <hr />
                            <div class="lead">Each country has their own regulations on what kind of goods that are not allowed to enter the country. Please be aware on what kind of items that you are allowed to ship to destination of your choice before sending your package</div>
                            <br/>
                            <legend>Australia</legend>
                           <div class=" ml-3"> See <a class="text-capitalize font-weight-bold"href="https://www.homeaffairs.gov.au/busi/cargo-support-trade-and-goods/importing-goods/prohibited-and-restricted">this</a> documents for more information on what kinds of items that couldnt be transported or limited if you plan to send your items to australia
                              </div> <br />
                            <legend>U.S.A</legend>
                            <div class=" ml-3">
                                See <a class="text-capitalize font-weight-bold" href="https://www.cbp.gov/travel/us-citizens/know-before-you-go/prohibited-and-restricted-items">this</a> documents for more information on what kinds of items that couldnt be transported or limited if you plan to send your items to U.S.A
                            </div>  <br />
                            <p>What would happen if you send a prohibited items and are cleared by customs?</p>
                            <p>Your items would be send back and there is a chance that your items might be confiscated by customs</p>
                                <!--endhere-->
                                <div class="tab-pane fade" id="v-pills-office" role="tabpanel" aria-labelledby="v-pills-office-tab">
                                    <h4>Office & Facility</h4>
                                    <p>Customer could do something, Customer could do something, Customer could do something.</p>
                                </div>
                                <div class="tab-pane fade" id="v-pills-courier" role="tabpanel" aria-labelledby="v-pills-courier-tab">
                                    <h4>Courier Location</h4>
                                    <p>Customer could do something, Customer could do something, Customer could do something.</p>
                                </div>
                                <div class="tab-pane fade" id="v-pills-service" role="tabpanel" aria-labelledby="v-pills-service-tab">
                                    <h4>Service</h4>
                                    <p>Customer could do something, Customer could do something, Customer could do something.</p>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Content End -->
    