<!--start from here-->
<div class="container pb-5">
    <h2>Prohibited or restricted items</h2>
    <hr />
    <div class="lead">Each country has their own regulations on what kind of goods that are not allowed to enter the
        country. Please be aware on what kind of items that you are allowed to ship to destination of your choice
        before sending your package</div>
    <br />
    <h3>Australia</h3>
    <div class=" ml-3"> See <a class="text-capitalize font-weight-bold" href="https://www.homeaffairs.gov.au/busi/cargo-support-trade-and-goods/importing-goods/prohibited-and-restricted">this</a>
        documents for more information on what kinds of items that couldnt be transported or limited if you plan to
        send your items to australia
    </div> <br />
    <h3>U.S.A</h3>
    <div class=" ml-3">
        See <a class="text-capitalize font-weight-bold" href="https://www.cbp.gov/travel/us-citizens/know-before-you-go/prohibited-and-restricted-items">this</a>
        documents for more information on what kinds of items that couldnt be transported or limited if you plan to
        send your items to U.S.A
    </div> <br />
    <p>What would happen if you send a prohibited items and are cleared by customs?</p>
    <p>Your items would be send back and there is a chance that your items might be confiscated by customs</p>
    <!--endhere-->
    
</div>
